node-red/flows_arduino.json
[{"id":"38eb5c23.bf8154","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"abfbb6b9.75c388","type":"inject","z":"38eb5c23.bf8154","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":190,"y":360,"wires":[["dc1fa6ed.30e3b8"]]},{"id":"dc1fa6ed.30e3b8","type":"http request","z":"38eb5c23.bf8154","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo,BR&units=metric&appid=a87056445202093439a8773494f04ffd","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":480,"wires":[["1dbcdef7.917a01"]]},{"id":"1dbcdef7.917a01","type":"json","z":"38eb5c23.bf8154","name":"","property":"payload","action":"","pretty":false,"x":570,"y":480,"wires":[["c75cb3f5.4f05","6a59af41.a83a2","c2582783.f4f288","36cde4c0.20b15c"]]},{"id":"c75cb3f5.4f05","type":"change","z":"38eb5c23.bf8154","name":"temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":380,"wires":[["96b4e613.6d9188","e0e3df8b.f4059"]]},{"id":"96b4e613.6d9188","type":"ui_gauge","z":"38eb5c23.bf8154","name":"","group":"98115348.9cce18","order":3,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURA","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1040,"y":380,"wires":[]},{"id":"6a59af41.a83a2","type":"change","z":"38eb5c23.bf8154","name":"MINIMA","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":460,"wires":[["1e4bfeb7.c0dc31"]]},{"id":"c2582783.f4f288","type":"change","z":"38eb5c23.bf8154","name":"MAXIMA","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":520,"wires":[["2e1fc3b4.e5706c"]]},{"id":"36cde4c0.20b15c","type":"change","z":"38eb5c23.bf8154","name":"UMIDADE","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":600,"wires":[["f0034980.bed5f8"]]},{"id":"1e4bfeb7.c0dc31","type":"ui_gauge","z":"38eb5c23.bf8154","name":"","group":"98115348.9cce18","order":3,"width":0,"height":0,"gtype":"gage","title":"MINIMA","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1020,"y":440,"wires":[]},{"id":"2e1fc3b4.e5706c","type":"ui_gauge","z":"38eb5c23.bf8154","name":"","group":"98115348.9cce18","order":3,"width":0,"height":0,"gtype":"gage","title":"MAXIMA","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1020,"y":500,"wires":[]},{"id":"f0034980.bed5f8","type":"ui_gauge","z":"38eb5c23.bf8154","name":"","group":"98115348.9cce18","order":3,"width":0,"height":0,"gtype":"gage","title":"UMIDADE","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1030,"y":560,"wires":[]},{"id":"e0e3df8b.f4059","type":"mqtt out","z":"38eb5c23.bf8154","name":"","topic":"rafaelFernandesCunha/fiap/teste","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"687e2581.26f65c","x":1070,"y":280,"wires":[]},{"id":"5f0a9909.71df08","type":"debug","z":"38eb5c23.bf8154","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":860,"wires":[]},{"id":"1dcc830.0d1737d","type":"mqtt in","z":"38eb5c23.bf8154","name":"","topic":"rafaelFernandesCunha/fiap/teste","qos":"2","datatype":"auto","broker":"687e2581.26f65c","nl":false,"rap":true,"rh":0,"x":720,"y":860,"wires":[["5f0a9909.71df08"]]},{"id":"dc916d2a.c1f6a","type":"serial in","z":"38eb5c23.bf8154","name":"","serial":"71edd1ce.f81f7","x":270,"y":720,"wires":[[]]},{"id":"98115348.9cce18","type":"ui_group","name":"RFID-RC522","tab":"b68328b0.7a1cc8","order":1,"disp":true,"width":"5","collapse":false,"className":""},{"id":"687e2581.26f65c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"71edd1ce.f81f7","type":"serial-port","serialport":"9600","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b68328b0.7a1cc8","type":"ui_tab","name":"temperatura","icon":"dashboard","order":2,"disabled":false,"hidden":false}]